.content-block {
    position: relative;
    height: 291px;
    width: 296px;

    background: #FFFFFF;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.09);
    border-radius: 3px;
}

.content-block__header {
    position: absolute;
    top: 164px;
    left: 13px;
    font: normal 16px/21px 'Lora';

    color: #101315;
}

.content-block__discription {
    position: absolute;
    top: 191px;
    left: 13px;
    font: normal 13px/19px 'Oxygen';

    color: #7A7A7A;
}

.content-block__author {
    position: absolute;
    top: 250px;
    left: 49px;

    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 35px;

    color: #999999;
}

.content-block__date {
    position: absolute;
    top: 250px;
    left: 225px;
    font: normal 12px/35px 'Oxygen';

    color: #999999;
}

.content__avatar_other-pos {
    position: absolute;
    top: 255px;
    left: 13px;
}

.brd-content {
    position: absolute;
    top: 242px;
    height: 1px;
    width: 296px;
    border-bottom: 1px solid #EFEFEF;
}