.section-menu {
    position: relative;
    width: 940px;
    height: 65px;
    left: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section-menu__item {
    display: inline;
}

.section-menu__item-link {
    font: normal 14px/20px 'Lora';
    text-decoration: none;

    color: #768088;   
}