.header-main_background {
    height: 500px;
    width: 1440px;
    background: url("../../../img/inhead.jpg");
    border-radius: 0px;
}

.header__text-h1 {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;

    letter-spacing: 2px;
    
}
.header__text-h1_white{
    color: #FFFFFF;
}

.header__text-h1_black{
    color: #000000;
}

.header__text-p {

    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;


    color: rgba(255, 255, 255, 0.63);
}

.header__text-p_white{
    color: rgba(255, 255, 255, 0.63);
}
.header__text-p_black{
    color: rgba(46, 46, 46, 0.63);
}


.header__text-button {

    background-color: #DD783F;
    border: none;
    border-radius: 3px;
}

.header__text-button-text {

    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;

    text-align: center;

    color: #FFFFFF;

}