.logo {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
}


.header__logo {}

.header__logo_white {
    color: #FFFFFF;
}

.header__logo_black {
    color: #000000;
}