.content {
    position: absolute;
    z-index: 1;
    background: #F7F7F7;
    border-radius: 0px;
}

.content_size-main {
    height: 2946px;
    width: 1440px;
}

.content_size-other {
    height: 1706px;
    width: 1440px;
}

.content__h2 {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;

    letter-spacing: 2px;

    color: #2E2E2E;
}

.content__MainImg-left {
    height: 280px;
    width: 460px;
    border-radius: 3px;
}
.content__image{
    position: absolute;
    z-index: -1;
}

.content__MainImg-header {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 30px;
    text-decoration: none;

    color: #FFFFFF;
}

.content__MainImg-disc {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    text-decoration: none;

    color: rgba(255, 255, 255, 0.7);
}

.content__MainImg-author {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;

    color: rgba(255, 255, 255, 0.7);
}

.content__MainImg-date {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;

    color: rgba(255, 255, 255, 0.7);
}

.content__avatar {
    border-radius: 60px;
}

.content__MainImg-right {
    height: 280px;
    width: 460px;
    border-radius: 3px;
}

.content__button {

    background-color: #DD783F;
    border: none;
    border-radius: 3px;
}

.content__button-text {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;

    text-transform: uppercase;

    color: #FFFFFF;
}

.image {
    height: 534px;
    width: 1440px;
}

.context {
    width: 960px;
    height: 1431px;

    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;

    color: #101315;
}