.section-menu {
    position: relative;
    width: 940px;
    height: 65px;
    left: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section-menu__item {
    display: inline;
}

.section-menu__item-link {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: #768088;

    text-decoration: none;
}