.header {
    min-height: 360px;
    height: fit-content;
}

.header__navigation {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.header_background {
    position: relative;
    height: 500px;
    width: 1440px;
    background: url("../../../../img/header_background.jpg");
}


.header__text-title {
    font: normal 50px/51px 'Lora';
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 2px;

}

.header__text-title_white {
    color: #FFFFFF;
}

.header__text-title_black {
    color: #000000;
}

.header__text-discription {
    font: normal 17px/20px 'Oxygen';
    margin-bottom: 31px;
    text-align: center;
}

.header__text-discription_white {
    color: rgba(255, 255, 255, 0.63);
}

.header__text-discription_black {
    color: rgba(46, 46, 46, 0.63);
}


.button-header {
    position: relative;
    width: 167px;
    height: 44px;
    background-color: #DD783F;
    border: none;
    border-radius: 3px;
}

.button-header__text {
    font: normal, 13px/20px 'Oxygen';
    text-align: center;

    color: #FFFFFF;
}

.header__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.header__content_main-pos {
    top: 177px;
}
.header__content_other-pos {
    top: 156px;
}