.content {
    position: relative;
    z-index: 1;
    background: #F7F7F7;
    border-radius: 0px;
    height: fit-content;
    width: 1440px;
    display: flex;
    justify-content: center;
}

.context {
    position: relative;
    top: 140px;
    width: 960px;
    height: fit-content;
    font: normal 24px/35px 'Oxygen';
    margin-bottom: 272px;

    color: #101315;
}
.context__text{
    margin-bottom: 1.4em;
}
