.footer {
    position: relative;
    z-index: 1;
    height: 89px;
    width: 1440px;
    background: linear-gradient(0deg, rgba(35, 47, 56, 0.6), rgba(35, 47, 56, 0.6)), url("../../../img/footer.png");
    border-radius: 0px;
}