.logo {
    font: normal 26px/26px 'Lora';
}

.header__logo{
    position: absolute;
    height: 26px;
    top: 22px;
    left: 250px;
}

.footer__logo{
    position: absolute;
    height: 26px;
    top: 31px;
    left: 250px;
}
.header__logo_white {
    color: #FFFFFF;
}

.header__logo_black {
    color: #000000;
}

.footer__logo{
    color: #FFFFFF;
}