.footer {
    position: relative;
    z-index: 1;
    height: 378px;
    width: 1440px;
    background: url("../../../../img/footer_background.png");
    border-radius: 0px;
    display: flex;
    justify-content: center;
}

.brd-footer {
    position: absolute;
    height: 1px;
    left: 0%;
    right: 0%;
    top: 288px;
    
    background: rgba(255, 255, 255, 0.12);
}

.footer__navigation {
    position: absolute;
    bottom: 0%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 1440px;
    height: 89px;

    background: rgba(35, 47, 56, 0.6);
    border-radius: 0px;
}

.footer__title {
    position: absolute;
    top: 81px;
    font: normal 25px/30px 'Oxygen';
    width: 188px;
    padding-bottom: 16px;
    border-bottom: 1px solid #DEDEDE;
    margin-bottom: 23px;
    text-align: center;

    color: #EFEFEF;
}

.footer__email-input {
    position: absolute;
    top: 149px;
    left: 470px;
    padding: 18px 204px 18px 35px;
    border: 0;
    background: #ffffff;
    border-radius: 3px 0px 0px 3px;
    font: normal 12px/14px 'Roboto';

    color: #817F83;
}

.footer__button {
    position: relative;
    height: 50px;
    width: 125px;
    top: 149px;
    left: 188px;

    border: none;
    background: rgba(255, 255, 255, 0.28);
    border-radius: 0px 3px 3px 0px;
}

.footer__button-text {
    font: normal 13px/20px 'Oxygen';
    text-align: center;

    color: #FFFFFF;
}